{% extends 'base.html.twig' %}

{% block title %}LogementOptions{% endblock %}

{% block body %}
    <h1>LogementOptions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Valeur</th>
                <td>{{ logement_option.valeur ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_logement_options_index') }}">back to list</a>

    <a href="{{ path('app_logement_options_edit', {'logement': logement_option.logement.id, 'option': logement_option.option.id}) }}">edit</a>

    {{ include('logement_options/_delete_form.html.twig') }}
{% endblock %}
