{% extends 'base.html.twig' %}

{% block title %}Edit Voiture{% endblock %}

{% block body %}

    {{ include('GestionTransport/voiture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_voiture_index') }}">back to list</a>

    {{ include('GestionTransport/voiture/_delete_form.html.twig') }}
{% endblock %}
