{% extends 'base.html.twig' %}

{% block title %}Edit ImageLogement{% endblock %}

{% block body %}
    <h1>Edit ImageLogement</h1>

    {{ include('image_logement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_image_logement_index') }}">back to list</a>

    {{ include('image_logement/_delete_form.html.twig') }}
{% endblock %}
