{% extends 'base.html.twig' %}

{% block title %}New ImageLogement{% endblock %}

{% block body %}
    <h1>Create new ImageLogement</h1>

    {{ include('image_logement/_form.html.twig') }}

    <a href="{{ path('app_image_logement_index') }}">back to list</a>
{% endblock %}
