{% extends 'base.html.twig' %}

{% block title %}New LogementOptions{% endblock %}

{% block body %}
    <h1>Create new LogementOptions</h1>

    {{ include('logement_options/_form.html.twig') }}

    <a href="{{ path('app_logement_options_index') }}">Retour à la liste</a>
    {% endblock %}
