<!-- Modales des Statistiques -->
<!-- Modale des Statistiques des Véhicules -->
<div class="modal fade" id="vehiclesStatsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Statistiques Mensuelles des Véhicules</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <div class="chart-container" style="height: 400px;">
                    <canvas id="vehiclesChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modale des Statistiques des Transports -->
<div class="modal fade" id="transportStatsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Statistiques Mensuelles des Transports</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <div class="chart-container" style="height: 400px;">
                    <canvas id="transportsChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modale des Statistiques des Revenus -->
<div class="modal fade" id="revenueModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Statistiques des Revenus</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <div class="chart-container" style="height: 400px;">
                    <canvas id="revenueChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>